body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

img {
  cursor: pointer;
}

.navbar-brand {
  cursor: pointer;
}

.card {
  width: 15rem;
  margin: 1rem;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: scale(1.025);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px;
}

.card-text {
  height: 6rem;
  width: 14rem;
  overflow: hidden;
}

.card-img-top {
  object-fit: cover;
  height: 12rem;
  width: 14.9rem;
}
