body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.navbar {
  background: rgb(187,238,174);
  background: linear-gradient(0deg, rgba(187,238,174,1) 0%, rgba(148,187,233,1) 100%);
}

img, .navb, .text-decoration-underline {
  cursor: pointer;
  text-shadow:2px 2px 4px gray;
}

.card {
  width: 15rem;
  margin: 1rem;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: scale(1.025);
  filter: drop-shadow(0 0 2em #646cffaa);
}

.card-text {
  height: 6rem;
  width: 14rem;
  overflow: hidden;
}

.card-img-top, .detail-img {
  object-fit:scale-down;
  height: 12rem;
  width: 14.9rem;
}